
<script>
function DeleteRow() {
    if(confirm('Bạn có muốn xóa không ?'))
    {
      return true;
    }
    else
    {
      return false;
    }
}
</script>


<div class="box">
    <header>
        <div class="icons"><a href="/nhanvien/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Thêm Mới</a></div>
        <h5>Danh Mục Khách Hàng</h5>
    </header>

    <div class="body">
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTable" class="table table-bordered table-hover table-striped dataTable">
                        <thead>
                            <tr>
                                <th width="4%">Mã</th>
                                <th width="15%">Tên người dùng</th>
                                <th width="8%">Phái</th>
                                <th width="8%">Nhóm</th>
                                <th width="10%">Ngày sinh</th>
                                <th width="8%">SĐT</th>
                                <th width="10%">E-Mail</th>
                                <th width="20%">Ghi chú</th>
                                <th width="5%">Chọn</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% @list.each do |val| %>
                              <tr>
                                  <td align="center"><%=val['id_nguoidung']%></td>
                                  <td><%=val['tennguoidung']%></td>
                                  <td>
                                      <% if  val['gioitinh'].to_i == 1 %>
                                          Nam
                                      <% else %>
                                          Nữ
                                      <% end %>
                                  </td>
                                  <td><%=val['tenquyen'] %></td>
                                  <td><%=val['ngaysinh']%></td>
                                  <td><%=val['sdt']%></td>
                                  <td><%=val['email']%></td>
                                  <td><%=val['ghichu']%></td>
                                  <td align="center">
                                      <a href="/nhanvien/edit/<%=val['id_nguoidung']%>" class="text-success"><i class="glyphicon glyphicon-pencil"></i></a>
                                      <a href="/nhanvien/delete/<%=val['id_nguoidung']%>" onclick="return DeleteRow();" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>
                                  </td>
                              </tr>
                            <%end%>

                        </tbody>                
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


