<div class="box">
    <header class="dark">
        <h5>Thông tin cửa hàng</h5>
    </header>
    <div class="body">
        <%= form_for(@new, :url=>{:action=>'update'}, :html => {:class=>'form-horizontal'}) do |f| %>
            <%= f.hidden_field :id_cuahang, value: "CH1" %>
            
            <div class="form-group">
                <%= f.label :tencuahang, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :tencuahang, :class=>'form-control' %>
                    </div>
                </div>
                <span class="error right"><%=@new.errors[:tencuahang].first%></span>
            </div>
        
            <div class="form-group">
                <%= f.label :chusohuu, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :chusohuu, :class=>fieldError(@new.errors[:chusohuu].any?, "form-control"), :placeholder=>"" %>
                    </div>
                    <span class="error right"><%=@new.errors[:chusohuu].first%></span>
                </div>
            </div>
        
            <div class="form-group">
                <%= f.label :sdt, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :sdt, :class=>'form-control' %>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <%= f.label :email, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :email, :class=>'form-control' %>
                    </div>
                </div>
            </div>
        
        
            <div class="form-group">
                <%= f.label :diachi, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :diachi, :class=>'form-control'%>
                    </div>
                </div>
            </div>
        
        
            <div class="form-group">
                <%= f.label :ghichu, :class=>"control-label col-lg-4"%>
                <div class="col-lg-4">
                    <div class="input-group">
                        <%= f.text_area :ghichu, :class=>'form-control', :rows=> 4, cols: 50 %>
                    </div>
                </div>
            </div>
        
        
            <div class="form-group">
                <div class="col-lg-6">
                    <button name="huy" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i>Hủy Bỏ</button>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>Lưu Lại</button>
                </div>
            </div>
        <%end%>
    </div>
</div>
<script>
  
  $("#product_image").change(function(event) {
    $(".fileinput-preview.thumbnail").html('');
    var files = this.files;
    for(i=0; i < files.length; i++){
      var img = new Image;
      img.src = window.URL.createObjectURL(files[i]);
      $(".fileinput-preview.thumbnail").append(img);
      var input = document.createElement("input");
      input.type = "hidden";
      input.value = img.src;
      input.name = 'link[image][]';
      $(".fileinput-preview.thumbnail").append(input);
    }
  });    
</script>