
<script>
function DeleteRow() {
    if(confirm('Bạn có muốn xóa không ?'))
    {
      return true;
    }
    else
    {
      return false;
    }
}
</script>


<div class="box">
    <header>
        <div class="icons"><a href="/hanghoa/new" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Thêm Mới</a></div>
        <h5>Sản Phẩm</h5>
    </header>

    <div class="body">
        <div class="dataTables_wrapper">
            <div class="row">
              <form name="InputSearch" method="POST" >
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag "page[sort]", @search['sort'] %>
                <%= hidden_field_tag 'page[up_down]', @search['up_down']  %>
                <%= hidden_field_tag "page[current]", @search['current'] %>
                <div class="col-sm-6">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Hiển thị 
                            <%= select_tag "page[limit]",options_for_select([10,25,50,100], @search['limit']), class: "form-control input-sm"%> dòng
                        </label>
                    </div></div>
                <div class="col-sm-6">
                    <div id="dataTable_filter" class="dataTables_filter">
                        <label>
                            Tìm kiếm:<%= text_field_tag "page[search]", @search['search'], class: "form-control input-sm", placeholder: "Mã, tên sản phẩm" %>
                        </label>
                    </div>
                </div>
              </form>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="dataTable" class="table table-bordered table-hover table-striped dataTable">
                        <% 
                        columns = []
                        columns << { column: :stt, name: 'STT', width: '4%'}
                        columns << { column: :id_hanghoa, name: 'Mã', width: '5%', sort: true}
                        columns << { column: :tenhang, name: 'Tên hàng', sort: true}
                        columns << { column: :id_loai, name: 'Loại',width: '7%', sort: true}
                        columns << { column: :thongso, name: 'Quy cách'}
                        columns << { column: :id_donvi, name: 'Đơn vị',width: '7%'}
                        columns << { column: :giaban, name: 'Giá bán', width: '10%', sort: true}
                        columns << { column: :ghichu, name: 'Ghi chú'}
                        columns << { column: :chọn, name: 'Chọn', width: '8%'}

                        %>
                        <thead>
                            <tr>
                                <tr>
                                <% columns.each_with_index do |c, index| %>
                                  <% if c[:sort] %>
                                    <% if @search['up_down'].to_s == "DESC" && @search['sort'].to_i == index %>
                                      <th width="<%= c[:width] %>" <%= "class=sorting_desc"%> onclick="SortRow('<%= index %>','ASC');" >
                                          <%= c[:name]  %>
                                      </th>
                                    <% elsif @search['up_down'].to_s == "ASC" && @search['sort'].to_i == index %>
                                      <th width="<%= c[:width] %>" <%= "class=sorting_asc"%> onclick="SortRow('<%= index %>','DESC');" >
                                          <%= c[:name]  %>
                                      </th>
                                    <% else %>
                                      <th width="<%= c[:width] %>" <%= "class=sorting"%> onclick="SortRow('<%= index %>','DESC');" >
                                          <%= c[:name]  %>
                                      </th>
                                    <% end %>
                                  <% else %>
                                    <th width="<%= c[:width] %>">
                                        <%= c[:name]  %>
                                    </th>
                                  <% end %>
                                <% end %>
                            </tr>
                            </tr>
                        </thead>
                        <tbody id="table">
                            <% @list.each.with_index(1) do |row, index| %>
                            <tr>
                                <td align="center"><%= index %></td>
                                <td><%= row['id_hanghoa'] %></td>
                                <td><%=row['tenhang'] %></td>
                                <td align="center"><%=row['tenloai'] %></td>
                                <td><%= row['thongso'] %></td>
                                <td><%= row['donvi'] %></td>
                                <td align="right"><b><%= number_to_currency(row['giaban'], :unit => '', :precision => 0, :format => "%n %u") %></b></td>
                                <td><%= row['ghichu'] %></td>
                                <td align ="center">
                                    <a href="/hanghoa/edit/<%= row['id_hanghoa'] %>" class="text-success" ><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a href="/hanghoa/delete/<%= row['id_hanghoa'] %>" class="text-danger" onclick="return DeleteRow();" ><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>                
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="dataTables_info"></div>     
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/stylesheets/jquery.js"></script>


